<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" fixedInViewport>
    <div style="height: 40px"></div>
    <div class="logo-container">
      <img ngSrc="/assets/learnhive_logo_transparent.png" alt="LearnHive Logo" class="logo" width="180" height="180"/>
      <h2 class="brand-title">LearnHive</h2>
    </div>

    <nav class="nav-links">
      <a mat-button class="red-text" [routerLink]="['courses']">
        <mat-icon>home</mat-icon>
        {{ "nav.courses" | translate }}
      </a>

      <a mat-button class="red-text" (click)="LogOut(); drawer.toggle()">
        <mat-icon>logout</mat-icon>
        {{ "nav.logout" | translate }}
      </a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (IsUserLoggedIn())
    {
      <mat-toolbar class="toolbar" color="primary">
        <button mat-icon-button (click)="drawer.toggle()" class="menu-button" aria-label="{{ 'nav.toggle_menu' | translate }}">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button (click)="GoBack()" class="menu-button" aria-label="{{ 'nav.go_back' | translate }}">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="toolbar-title">LearnHive</span>

        <span class="spacer"></span>
      </mat-toolbar>
    }

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
