<mat-dialog-content>
  <h2>{{ "course_page.create_assignment_title" | translate }}</h2>

  <form #assignmentForm="ngForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "course_page.assignment_title_label" | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'course_page.assignment_title_placeholder' | translate }}"
        name="title"
        [(ngModel)]="title"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "course_page.assignment_description_label" | translate }}</mat-label>
      <textarea
        matInput
        placeholder="{{ 'course_page.assignment_description_placeholder' | translate }}"
        name="description"
        [(ngModel)]="description"
        rows="3"
        required
      ></textarea>
    </mat-form-field>

    <h3>{{ "course_page.assignment_files_title" | translate }}</h3>
    <input type="file" (change)="onFilesSelected($event)" multiple />
    <div style="height: 30px"></div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "course_page.assignment_deadline_label" | translate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="{{ 'course_page.assignment_deadline_placeholder' | translate }}"
        name="deadline"
        [(ngModel)]="deadline"
        [min]="minDate"
        required
        readonly
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">{{ "course_page.cancel" | translate }}</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!assignmentForm.valid"
    (click)="OnSave()"
  >
    {{ "course_page.save" | translate }}
  </button>
</mat-dialog-actions>
