<div class="assignment-base-column">
  <div class="assignment-info-container">
    <div class="assignment-info-column">
      <h1>{{ assignment?.title }}</h1>
      <p>{{ assignment?.description }}</p>
      <div class="assignment-deadline-container">
        <mat-icon>schedule</mat-icon>
        <p>{{ "assignment_page.deadline_label" | translate }} {{ GetFormattedDate() }}</p>
      </div>
      @if (assignment?.fileUrls?.length)
      {
        <div class="assignment-files-container">
          <h3>{{ "assignment_page.attached_files" | translate }}</h3>
          <ul class="assignment-files-list">
            @for (fileUrl of assignment?.fileUrls; track fileUrl) {
              <li class="assignment-file-item">
                <mat-icon class="blue">attach_file</mat-icon>
                <span style="width: 10px"></span>
                <a [href]="fileUrl" target="_blank" download>
                  {{ GetFileName(fileUrl) }}
                </a>
                <span style="width: 10px"></span>
                @if (userRole === "ROLE_TEACHER") {
                  <button
                    mat-icon-button
                    class="red"
                    (click)="RemoveFile(fileUrl)">
                    <mat-icon>delete</mat-icon>
                  </button>
                }
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>

  <div class="submissions-add-bar">
    @if (userRole === "ROLE_STUDENT") {
      <h1 class="submissions-indicator">{{ "assignment_page.your_submissions" | translate }}</h1>
      <button mat-flat-button (click)="OpenCreateSubmissionDialog()">
        {{ "assignment_page.add_submission" | translate }}
      </button>
    } @else if (userRole === "ROLE_TEACHER") {
      <h1 class="submissions-indicator">{{ "assignment_page.submissions" | translate }}</h1>

      <button mat-flat-button color="primary" (click)="OpenFilePickerForAssignmentFiles()">
        {{ "assignment_page.add_file_to_assignment" | translate }}
      </button>

      <input
        #assignmentFileInput
        type="file"
        multiple
        hidden
        (change)="OnAssignmentFilesSelected($event)"
      >
    }
  </div>
</div>

<div class="submissions-list-container">
  <app-submission-list [assignmentId]="preAssignmentId"></app-submission-list>
</div>
