<mat-dialog-content>
  <h1>{{ "dashboard.create_course_heading" | translate }}</h1>

  <mat-form-field appearance="outline">
    <mat-label>{{ "dashboard.course_title_label" | translate }}</mat-label>
    <input
      matInput
      [(ngModel)]="title"
      placeholder="{{ 'dashboard.course_title_placeholder' | translate }}"
      maxlength="100"
      #titleInput="ngModel"
      required
    >
    <mat-hint>{{ title?.length || 0 }}/100</mat-hint>

    @if (titleInput.invalid && titleInput.touched) {
      <mat-error>
        {{ "dashboard.course_title_error" | translate }}
      </mat-error>
    }
  </mat-form-field>

  <div class="buttons">
    <button
      mat-flat-button
      (click)="Create()"
      color="primary"
      [disabled]="!title || title.length > 100"
    >
      {{ "dashboard.create_button" | translate }}
    </button>

    <button mat-button (click)="Cancel()" color="secondary">
      {{ "dashboard.cancel_button" | translate }}
    </button>
  </div>
</mat-dialog-content>
