.assignments-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* ESTADO VACÍO */
.empty-state {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.empty-card {
  background: var(--custom-card-color);
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 3px 12px #0003;
}

.empty-bg {
  width: 160px;
  opacity: 0.9;
  margin-bottom: 20px;
}

.empty-card h3 {
  margin: 10px 0;
  color: var(--custom-title-color);
}

.empty-card p {
  color: var(--custom-text-color);
}
