<mat-card>
    <div class="title">
      <h3>{{"auth_page.login" | translate}}</h3>
      <h4>{{"auth_page.login_description" | translate}}</h4>
    </div>

  <mat-card-content>
    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"auth_page.username" | translate}}</mat-label>
        <input
          matInput
          placeholder="{{'auth_page.username_placeholder' | translate}}"
          (change)="invalidCredentials = false"
          [(ngModel)]="username"
          name="username"
          required
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{"auth_page.password" | translate}}</mat-label>
        <input
          matInput
          type="password"
          placeholder="{{'auth_page.password_placeholder' | translate}}"
          (change)="invalidCredentials = false"
          [(ngModel)]="password"
          name="password"
          required
        >
      </mat-form-field>

      @if (invalidCredentials)
      {
        <p class="red-text">{{"auth_page.invalid_credentials" | translate}}</p>
      }

      <button mat-raised-button color="primary" class="full-width" (click)="LogIn()">
        {{"auth_page.login" | translate}}<mat-icon>login</mat-icon>
      </button>

      <p class="forgot-password">
        <a href="#">{{'auth_page.forgot_password' | translate}}</a>
      </p>
    </form>
  </mat-card-content>
</mat-card>
