.assignment-card {
  background: var(--custom-card-color);
  border-radius: 16px !important;
  box-shadow: 0 4px 12px #0002;
  padding: 0;
}

.assignment-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px #00000035;
}

.card-content {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.assignment-title {
  margin: 0 0 10px 0;
  color: var(--custom-title-color);
}

.assignment-description {
  margin: 0 0 10px 0;
  color: var(--custom-text-color);
  opacity: 0.9;
}

.assignment-date {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--custom-primary-color);
  font-weight: 500;
}

.actions-section button {
  min-width: 150px;
}

/* Botón interno */
.btn-primary {
  background-color: var(--custom-primary-color) !important;
  color: var(--custom-bright-text-color) !important;
}
