.assignment-card {
  padding: 20px;
  background-color: var(--custom-primary-color);
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  margin-bottom: 16px; /* Espaciado entre tarjetas */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.card-content {
  display: flex;
  justify-content: space-between; /* Separa la información y el botón */
  align-items: center;
}

.info-section {
  flex: 1;
  padding-right: 16px; /* Espaciado entre la información y el botón */
}

.info-section h2 {
  font-size: 20px;
  color: var(--custom-text-color);
  margin-bottom: 8px;
}

.info-section p {
  font-size: 16px;
  color: var(--custom-text-color);
  margin: 4px 0;
}

.actions-section {
  margin-left: 1rem;
}

.actions-section button {
  background-color: #007bb5; /* Botón azul */
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
}

.actions-section button:hover {
  background-color: #005f8a; /* Azul más oscuro al pasar el mouse */
}

.assignments-container {
  background-color: transparent; /* Fondo transparente */
}
