<div class="course-view-container">
  <!-- PANEL SUPERIOR -->
  <div class="panel-container">
    <div class="panel-title">
      <h1>
        <mat-icon class="title-icon">assignment</mat-icon>
        {{ "course_page.assignment_panel" | translate }}
      </h1>
    </div>

    <div class="panel-actions">
      @if (userRole === "ROLE_TEACHER") {
        <button mat-raised-button class="btn-primary" (click)="OpenCreateDialog()">
          {{ "course_page.add_assignment" | translate }}
        </button>
      }
      @else {
        <h2 class="student-label">{{ "course_page.student_label" | translate }}</h2>
      }
    </div>
  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="content-container">
    <!-- PANEL IZQUIERDO -->
    <div class="left-panel">
      <app-assignment-list [courseId]="preCourseId"></app-assignment-list>
    </div>

    <!-- PANEL DERECHO (FLOTANTE) -->
    <div class="right-panel">
      <div class="right-panel-content">
        <div class="course-info">
          <h1 class="info-title">
            {{ "course_page.course_info_title" | translate }}
          </h1>

          <h2 class="course-name">{{ course?.title }}</h2>

          <h2 class="teacher-name">
            <mat-icon class="teacher-icon">person_4</mat-icon>
            {{ "course_page.teacher_label" | translate }} {{ teacher?.username }}
          </h2>

          <p class="course-description">
            {{ "course_page.course_description" | translate }}
          </p>
        </div>

        @if (userRole === "ROLE_TEACHER") {
          <div class="panel-actions-vertical">
            <button mat-raised-button class="btn-secondary"
                    [routerLink]="['/course', preCourseId, 'members']">
              {{ "course_page.view_members" | translate }}
            </button>

            <button mat-raised-button class="btn-secondary"
                    [routerLink]="['/course', preCourseId, 'analytics']">
              {{ "course_page.view_performance" | translate }}
            </button>
          </div>
        }
      </div>
    </div>
  </div>
</div>
