// custom-theme.css
@use '@angular/material' as mat;

:root[data-theme="light"],
:root:not([data-theme]) {
  // Tema claro por defecto
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  // Variables CSS personalizadas para tema claro
  --custom-bg-color: #ffffff;
  --custom-text-color: #ffffff;
  --custom-text2-color: #474747;
  --custom-primary-color: #1976d2;
  --custom-border-color: #e0e0e0;
}

:root[data-theme="dark"] {
  // Tema oscuro
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0,
  ));

  // Variables CSS personalizadas para tema oscuro
  --custom-bg-color: #121212;
  --custom-text-color: #ffffff;
  --custom-text2-color: #ffffff;
  --custom-primary-color: #00518f;
  --custom-border-color: #424242;
}

body {
  // Deferir al atributo data-theme
  color-scheme: var(--data-theme, light);
  font: var(--mat-sys-body-medium);

  // Usar variables CSS personalizadas
  background-color: var(--custom-bg-color);
  color: var(--custom-text-color);

  margin: 0;
}
