@use '@angular/material' as mat;

:root[data-theme="light"],
:root:not([data-theme]) {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  --custom-bg-color: #eef8ff;
  --custom-primary-color: #239af8;
  --custom-border-color: #424242;
  --custom-button-color: #1da7f4;
  --custom-header-color: #ffffff;
  --custom-card-color: #ffffff;
  --custom-title-color: #252525;
  --custom-text-color: #4b4b4b;
  --custom-bright-text-color: #ebfaff;
}

:root[data-theme="dark"] {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
      theme-type: dark
    ),
    typography: Roboto,
    density: 0,
  ));
  --custom-bg-color: #0d1b2a;
  --custom-primary-color: #3b7bac;
  --custom-border-color: #e0e0e0;
  --custom-button-color: #3b7bac;
  --custom-header-color: #0f1e33;
  --custom-card-color: #162238;
  --custom-title-color: #ffffff;
  --custom-text-color: #c7d5e0;
  --custom-bright-text-color: #d0e9ff;
}

body {
  color-scheme: var(--data-theme, light);
  font: var(--mat-sys-body-medium);
  color: var(--custom-text-color);
  margin: 0;
}

* {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
