<!-- submission-list.component.html -->
<div class="submission-list-root">

  @if (submissions.length === 0) {
    <div class="empty-submission">
      <img src="/assets/imagen_1.png" alt="{{ 'assignment_page.no_submissions_title' | translate }}" class="empty-img" />
      <div class="empty-text">
        <h3>{{ "assignment_page.no_submissions_title" | translate }}</h3>
        <p>{{ "assignment_page.no_submissions_description" | translate }}</p>
      </div>
    </div>
  } @else {
    <div class="submissions-grid">
      @for (submission of submissions; track submission.id) {
        <app-submission-item [submission]="submission"></app-submission-item>
      }
    </div>
  }
</div>
